/*Header styles */
header {
    background-color: #ffcc80;
    color: #d32f2f;
    font-size: 24px;
    text-align: center;
    font-family: 'Garamond', serif;
    
}

/*Banner styles */
.banner {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as needed, "50vh" means 50% of the viewport height */
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlaying text banner style*/

.overlay-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
}

.overlay-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */
.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 nav {
    display: flex;
    align-items: center;
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.link-1 {
    order: 1; 
}

.link-2 {
    order: 2; 
}

.link-3 {
    order: 3; 
}

.link-4 {
    order: 4; 
}

.link-5 {
    order: 5; 
}

.link-6 {
    order: 6; 
}

.link-7 {
    order: 7; 
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

}

/*Body style*/
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.body-content {
    max-width: 800px; /* Set a maximum width for your body content */
    margin: 20px auto; /* Add margin to the top and bottom */
    padding: 0 20px; /* Optional: Add padding to the sides for better readability */
}

/*Lists*/
ul, li {
    margin: 0;
    padding: 0;
    text-align: left;
}

table {
    font-size: 19px;
}

/* Paragraph style */
p {
    text-align: left; /* Left-align the text within paragraphs */
    max-width: 800px; /* Set a maximum width for paragraphs */
    margin: 0 auto; /* Center-align paragraphs within the body */
}

h2 {
    color: #d32f2f;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

h3 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h4 {
    color: #d32f2f;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

/*Image*/
img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

figure figcaption {
    text-align: center;
    color: grey;
    font-family: 'Merriweather', serif;
    font-size: 10px;
}


/*Hover Effect*/
a {
  color: royalblue; /* Set the default text color */
  text-decoration: none; /* Remove default underline */
}

/* Hover state styling for the link */
a:hover {
  color: dodgerblue; /* Change text color on hover */
  text-decoration: underline; /* Add underline on hover */
}
